<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />
</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div id="heading">
            <h1 style="color: white">HOMECARE</h1>
        </div>

    </nav>
    <form action="" method="post">
        <div class="ui-widget">
            <label for="tags">Symptom Input: </label>
            <input class="form-control autocomplete" id="tags" placeholder="Please input">
            <br>
            <button id="add" type="button" class="btn btn-primary" onclick="makeButton()"> Add </button>
        </div>
         <button name="foo" value="upvote" type="submit" onClick="sendData()">Submit</button>
        </form>

</div>
</body>
</html>

<script>

    var symptoms = [];
    $( function() {
        var availableTags = [
            "Abdominal bloating",
            "Abdominal pain",
            "Anxiety",
            "Back pain",
            "Blood in urine",
            "Burning sensation",
            "Chills",
            "Constipation",
            "Cough",
            "Depression",
            "Diarrhea",
            "Discolored skin patches",
            "Dizziness",
            "Edema",
            "Fatigue",
            "Fever",
            "Foot pain",
            "Frequent urination",
            "Gas",
            "Hair loss",
            "Headache",
            "Heartburn",
            "Hiccups",
            "Hip pain",
            "Increase in blood pressure",
            "Insomnia",
            "Itching",
            "Joint pain",
            "Knee pain",
            "Loss of appetite",
            "Low back pain",
            "Low blood pressure",
            "Muscle pain",
            "Nausea",
            "Neck pain",
            "Nosebleed",
            "Painful urination",
            "Personality change",
            "Rash",
            "Shortness of breath",
            "Shoulder pain",
            "Skin redness",
            "Sneezing",
            "Sore throat",
            "Stuffy nose",
            "Tingling",
            "Tinnitus",
            "Vaginal discharge",
            "Vertigo",
            "Vomiting",
            "Yawning, excessive"
        ];
        $( "#tags" ).autocomplete({
            source: availableTags
        });
    } );
    function makeButton() {
        value = document.getElementById("tags").value;
        var b = document.createElement("BUTTON");
        var t = document.createTextNode(value);
        symptoms.push(value);
        {{ sym}}.push(value);
        alert({{ sym }});
        console.log(symptoms);
        b.setAttribute("id", "symp");
        b.setAttribute("class", "symp")
        b.appendChild(t);
        document.body.appendChild(b);
    }

    function sendData() {
        $.post( "/doctor_list", {
            data: symptoms
        });
    }
</script>